@using Spacetime.Core
@using Spacetime.Core.Services
@using Spacetime.Core.gRPC
@using Spacetime.Shared.Components
@using Spacetime.Shared.Components.Inputs
@using Spacetime.Shared.Components.Containers.Tabs
@using Spacetime.Shared.Components.Display
@using Spacetime.Shared.Components.Panes
@using Spacetime.Core.Infrastructure;
@using Spacetime.Shared.Components.Typography
@using Spacetime.Shared.Components.Containers.Modal
@inject SpacetimeRestService SpacetimeRestService
@inject RequestService RequestService
@inject IGrpcExplorer GrpcExplorer

<div class="grid gap-2 grid-cols-12">
    <div class="lg:col-span-6 sm:col-span-full">
        <div class="flex flex-row mb-2 shrink-0 p-2">
            <span class="text-xs px-2 py-2">gRPC</span>
            <input class="px-4 py-2 w-1/2 border border-neutral-700 bg-neutral-800" placeholder="https://localhost:44301/api/tickets" type="text" @bind="Request.URL" @onblur="Save" />
            <Button ButtonType="Spacetime.Shared.Components.Inputs.ButtonType.Default" OnClickCallback="() => SelectProtoVisible = true">Select Proto</Button>
            <Button ButtonType="Spacetime.Shared.Components.Inputs.ButtonType.Primary" OnClickCallback="@Execute">@ExecuteText</Button>
        </div>
        <Tabs>
            <Tab Key="Body" CurrentTab="@RequestTab" OnClickCallback="@(() => RequestTab = "Body")">Body</Tab>
            <Tab Key="Headers" CurrentTab="@RequestTab" OnClickCallback="@(() => RequestTab = "Headers")">Headers</Tab>
            <Tab Key="Query" CurrentTab="@RequestTab" OnClickCallback="@(() => RequestTab = "Query")">Query</Tab>
        </Tabs>
        <TabContent Key="Body" CurrentTab="@RequestTab">
            gRPC support not yet available.
        </TabContent>
        <TabContent Key="Query" CurrentTab="@RequestTab" Css="p-2">
            <QueryParams @bind-Query="Request.QueryParams" />
        </TabContent>
        <TabContent Key="Headers" CurrentTab="@RequestTab" Css="p-2">
            <RequestHeaders @bind-Headers="@Request.Headers" />
        </TabContent>
    </div>
    <div class="lg:col-span-6 sm:col-span-full">
        <div class="flex flex-row mb-2 border-bottom border-zinc-700 p-2 @(string.IsNullOrWhiteSpace(Request.Response?.StatusCode) ? "invisible" : "")">
            <Badge BadgeType="StatusCodeBadge">@Request.Response?.StatusCode</Badge>
            <Badge Css="ml-2">@Request.Response?.ResponseTimeText</Badge>
        </div>
        <Tabs>
            <Tab Key="Preview" CurrentTab="@ResponseTab" OnClickCallback="@(() => ResponseTab = "Preview")">Preview</Tab>
            <Tab Key="Headers" CurrentTab="@ResponseTab" OnClickCallback="@(() => ResponseTab = "Headers")">Headers</Tab>
        </Tabs>
        <TabContent Key="Preview" CurrentTab="@ResponseTab">
            <div class="border border-zinc-700">
                <Code Data="@Request.Response?.ResponseBody" Name="ResponseEditor"></Code>
            </div>
        </TabContent>
        <TabContent Key="Headers" CurrentTab="@ResponseTab">
            <HeadersPane Request="@Request" />
        </TabContent>
    </div>
</div>

@if (SelectProtoVisible)
{
    <Modal Title="Select Proto" @bind-IsVisible="@SelectProtoVisible" CancelText="Cancel" ConfirmText="Set proto" OnConfirmCallback="() => {}">
        <GrpcPane />
    </Modal>
}
@code {
    [Parameter]
    public SpacetimeRequest Request { get; set; }

    private string RequestTab { get; set; } = "Body";
    private string ResponseTab { get; set; } = "Preview";
    private string ExecuteText => !Loading ? "Execute" : "Loading...";
    private bool Loading { get; set; }
    private bool SelectProtoVisible { get; set; }
    public GrpcExploreResult GrpcExploreResult { get; set; }
    private BadgeType StatusCodeBadge { get => Request?.Response?.Status == SpacetimeStatus.Ok ? BadgeType.Success : BadgeType.Danger; }

    private void ValidateGrpc()
    {
        GrpcExploreResult = GrpcExplorer.GetExplorer(Request.ImportPath, Request.ProtoFile);
    }

    private async Task Save()
    {
        try
        {
            await RequestService.UpdateRequest(Request);
        }
        catch (Exception ex)
        {
            // todo: handle this? :-)
        }
    }

    private async Task Execute()
    {
        ClearResponse();

        if (string.IsNullOrWhiteSpace(Request.URL))
        {
            return;
        }

        try
        {
            // todo: move to DI configuration
            ISpacetimeService svc = Request.Type == SpacetimeType.gRPC ? new SpacetimeGrpcService() : SpacetimeRestService;
            Loading = true;

            var response = await svc.Execute(Request);

            Request.Response = response;
        }
        catch (Exception ex)
        {
            // todo: add logging / toasts
        }
        finally
        {
            Loading = false;
        }

        await Save();
    }

    private void ClearAll()
    {
        Request.URL = string.Empty;
        Request.RequestBody = string.Empty;

        ClearResponse();
    }

    private void ClearResponse()
    {
        Request.Response = new SpacetimeResponse();
    }
}