@page "/"

@using Spacetime.Core
@using Spacetime.Core.Services
@using Spacetime.Shared.Components
@using Spacetime.Shared.Components.Display
@using Spacetime.Shared.Components.Inputs
@using Spacetime.Shared.Icons
@inject RequestService RequestService

<div class="flex flex-row">
    <div class="border-r border-zinc-700 mr-2 shrink-0">
        @if (Requests == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="p-2 flex justify-between">
                <strong>Requests</strong>
                <Button OnClickCallback=@NewRequest>New</Button>
            </div>
            <ul>
                @foreach (var req in Requests)
                {
                    <ListItem OnClickCallback="@(e => CurrentRequest = req)" Css="@(CurrentRequest?.Id == req.Id ? "bg-zinc-700" : "")"
                      OnActionCallback="@(async e => await OnDelete(req))">
                        <Title>
                            <input class="px-4 py-2 border border-transparent hover:border-transparent bg-zinc-800" type="text" @bind="@req.Name" @onblur="async () => await Save(req)" />
                        </Title>
                        <Prefix><span class="text-xs px-2 py-1">@GetRequestPrefix(req)</span></Prefix>
                        <ActionTemplate>
                            <Dropdown Items="@RequestDropdown" OnClickCallback="@(async () => await OnDelete(req))"><DotsVerticalIcon /></Dropdown>
                        </ActionTemplate>
                    </ListItem>
                }
            </ul>
        }
    </div>
    @if (CurrentRequest != null)
    {
        <Spacetime.Shared.Components.Requestor Request="@CurrentRequest" />
    }
    else
    {
        <p>Select a request</p>
    }
    <NewRequestModal @bind-IsVisible="@ModalVisible" OnCloseCallback="(e => OnModalClose())" />
</div>
@code {
    public bool ModalVisible { get; set; }
    private List<string> RequestDropdown { get => new List<string> { "Duplicate", "Copy as cURL", "Delete" }; }
    private SpacetimeRequest CurrentRequest { get; set; }
    private List<SpacetimeRequest> Requests { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Requests = (await RequestService.GetRequests()).ToList();
        if (CurrentRequest == null && Requests.Any())
        {
            CurrentRequest = Requests.First();
        }

    }

    private string GetRequestPrefix(SpacetimeRequest req)
    {
        var str = string.Empty;
        switch (req.Type)
        {
            case SpacetimeType.REST:
                str = req.Method;
                break;
            case SpacetimeType.gRPC:
                str = "gRPC";
                break;
            default:
                str = req.Method;
                break;
        }

        return str;
    }

    private void NewRequest()
    {
        ModalVisible = true;
    }

    private void OnModalClose()
    {
        ModalVisible = false;
        var req = new SpacetimeRequest();
        req.Name = "New Request";
        req.Type = SpacetimeType.REST;
        req.Method = "GET";
        Requests.Add(req);
        CurrentRequest = req;
        RequestService.AddRequest(req);
    }

    private async Task OnDelete(SpacetimeRequest request)
    {
        Requests.Remove(request);
        RequestService.DeleteRequest(request.Id);
    }

    private async Task Save(SpacetimeRequest request)
    {
        try
        {
            await RequestService.UpdateRequest(request);
        }
        catch (Exception ex)
        {
            // todo: handle this?
        }
    }
}