@using Spacetime.Helpers
@using Spacetime.Shared.Components.Inputs
@inject ScriptUtils ScriptUtils

<ul @ref="_ref" @onmousemove="OnMouseMove" class="select-none">
    @foreach (var item in Items.OrderBy(p => p.Position))
    {
        <ListItem OnClickCallback="async () => { await OnClick(item); }"
              OnMouseUp="@OnMouseUp"
              OnMouseDown="@OnMouseDown"
              Offset="item.Offset">

            <Prefix>
                @if (!string.IsNullOrWhiteSpace(item.Prefix))
                {
                    <span class="text-xs px-2 w-2">@item.Prefix</span>
                }
            </Prefix>

            <Title>
                <input class="p-2 border border-transparent hover:border-transparent bg-neutral-800" type="text" @bind="@item.Value" />
            </Title>
        </ListItem>
        @if (item == ShowDisplayUX && IsMouseDown)
        {
            <li style="height: 20px" class="drop-shadow-2xl border-dashed border-2 border-blue-400"></li>
        }
    }
</ul>
@if (Debug)
{
    <div class="bg-red-800 drop-shadow-2xl" style="height: 4px; width: 100px; position: fixed; top:@(CurrentMouseY)px; left: @(CurrentMouseX + 25)px">X: @CurrentMouseX Y: @CurrentMouseY</div>
}
@code {
    [Parameter]
    public List<SortableListItem> Items { get; set; }
    [Parameter]
    public EventCallback<SortableListItem> OnItemSelected { get; set; }

    // todo: rename this when my brain starts working again
    private SortableListItem ShowDisplayUX { get; set; }
    private SortableListItem ItemBeingDragged { get; set; }
    private double CurrentMouseX { get; set; }
    private double CurrentMouseY { get; set; }
    private bool Debug { get; set; } = false;
    private ElementReference _ref;

    private bool IsMouseDown { get; set; }

    public async Task OnClick(SortableListItem item)
    {
        await OnItemSelected.InvokeAsync(item);
    }

    public async void OnMouseDown(MouseEventArgs args)
    {
        IsMouseDown = true;
        ItemBeingDragged = CheckPosition(args);

        await ScriptUtils.Log("on mouse down", args);
    }

    public async void OnMouseUp(MouseEventArgs args)
    {
        if (ItemBeingDragged != ShowDisplayUX)
        {
            var indexOfItemBeingDragged = Items.IndexOf(ItemBeingDragged);
            var indexToPlaceItem = Items.IndexOf(ShowDisplayUX);
            if (indexOfItemBeingDragged == -1 || indexToPlaceItem == -1)
            {
                return;
            }

            Items.Remove(ItemBeingDragged);
            Items.Insert(indexToPlaceItem, ItemBeingDragged);

            foreach (var item in Items)
            {
                item.Position = Items.IndexOf(item);
            }
        }

        IsMouseDown = false;
        ItemBeingDragged = null;
        ShowDisplayUX = null;
        await ScriptUtils.Log("on mouse up", args);

    }

    public async void OnMouseMove(MouseEventArgs args)
    {
        CurrentMouseX = args.ClientX;
        CurrentMouseY = args.ClientY;

        if (IsMouseDown)
        {
            var item = CheckPosition(args);

            // if item is null or item is already the one calculated, no need to 
            // change this or log it
            if (item != null && item != ShowDisplayUX)
            {
                ShowDisplayUX = item;
                await ScriptUtils.Log($"best item found: mouse position: {args.ClientY} item position: {item.Offset.Top}", item);
            }
        }
    }

    private SortableListItem CheckPosition(MouseEventArgs args)
    {
        SortableListItem currentItem = null;
        var sortedItems = Items.OrderByDescending(p => p.Offset.Top);
        foreach (var item in sortedItems)
        {
            // todo: this "75" is just a magic number
            // figure out the size of the element and use that instead
            if (item.Offset.Top + 40 >= args.ClientY)
            {
                currentItem = item;
            }
        }

        return currentItem;
    }
}

